<div class="custom-popup-content">
  <div class="card">
    <div class="one">
      <span class="title"><%= listing.album_name %></span>
      <%= link_to listing_path(listing), class: "music-link" do %>
        <div class="music" style="background-image: url(<%= cl_image_path(listing.photo.key) %>)"></div>
      <% end %>
  </div>
  <div class="two"></div>
  <div class="three"></div>
</div>
</div>
