.confirmation-container {
  background-color: white;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  font-weight: bold;
  font-family: "Limelight", sans-serif;
}
