<footer class="footer">
  <div class="footer-container">
    <div class="footer-branding">
      <img src="https://seenbysam.com/vinylbnb/vinylbnb-logo-green.png" class="footer-brand">
    </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>&copy; 2025 Vinylbnb. All rights reserved.</p>
    <p class="mb-0 text-muted small">
    Made with ❤️ from students of Le Wagon : Pelin, Marta, Sneha, Sam and Matthieu
  </p>
  </div>
</footer>
