.booking-index h1{
  font-size: 40px;
  font-weight: bold;
  font-family: "Limelight", sans-serif;
  color: white;
  background-color: #02050a; /* dark navy-blue */
  padding: 20px 30px;
  display: inline-block;
  clip-path: polygon(0% 0%, 76% 0, 59% 0, 72% 100%, 0% 100%);
  width: 600px;
  margin: 50px 0 30px 5px;
  letter-spacing: 1px;
}
