// Flash messages
.custom-flash {
  background-color: $black;
  color: $green;
  max-width: 500px;

  &.notice {
    border: 1px solid $yellow;
  }

  &.alert {
    border: 1px solid $yellow;
  }

  .btn-close {
    filter: invert(1);
  }
}
