.navbar-lewagon {
  justify-content: space-between;
  background: $gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.hamburger {
  height: 40px; width: 40px; background-color: $dark-gray; border-radius: 50%;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: $green;
}
